.movie {
    &__content__skeleton {
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        overflow: hidden;
        border: 1px solid #e2e8f0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        background-color: #d9d9d9;
        aspect-ratio: 1/2;
        animation: blinking 2s infinite;

        &__image {
            width: 100%;
            height: 19.5rem;
            border-radius: 0;
            background-color: #c9c9c9;
        }

        &__info {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        &__title {
            width: 60%;
            margin-top: 20px;
            margin-left: 10px;
            height: 1.25rem;
            background-color: #c9c9c9;
        }

        &__category {
            width: 70%;
            height: 0.745rem;
            margin-top: 10px;
            margin-left: 10px;
            background-color: #c9c9c9;
        }

        &__meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            padding: 0 10px;
        }

        &__release_date {
            width: 40%;
            height: 0.945rem;
            background-color: #c9c9c9;
        }

        &__rating {
            width: 30%;
            height: 0.945rem;
            background-color: #c9c9c9;
        }
    }
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}