.detailMovie {
    &__content {
        background-image: linear-gradient(to right top, #04012d, #050230, #060232, #060335, #070337, #040535, #020633, #000831, #000929, #000920, #000817, #03060a);
        min-height: 100dvh;
        min-width: 100dvw;
    }
}